<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>English</title>
</head>
<body>
    <form action="{% url 'app:words' %}" method="GET">
        <label>单词:</label><input type="text" name="w_name">
        <button>查询</button>
    </form>
    <hr>
    <form action="{% url 'app:words' %}" method="POST">
        <label>单词:</label><input type="text" name="w_name">
        <label>音标(美):</label><input type="text" name="w_voice_us">
        <label>音标(英):</label><input type="text" name="w_voice_uk">
        <button>提交</button>
    </form>
    <hr>

</body>
</html>
